*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    top: 0;
    height: 100px;
    width: 100%;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 90px;
    width: 100%;
    padding: 30px;
}

.nav img{
    width: 75px;
    height: 75px;
    margin: 10px;
}

.homecare{
    margin-right: 550px;
}

.image{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu{
    text-decoration: none;
    font-size: 20px;
    color: black;
    height: 50px;
    width: 170px;
    text-align: center;
    border-radius: 5px;
    transition: 1s;
    padding-top: 10px;
}
.menu-trabalhe{
    text-decoration: none;
    font-size: 20px;
    color: black;   
    height: 50px;
    width: 170px;
    text-align: center;
    border-radius: 5px;
    transition: 1s;
}

.menu-trabalhe:hover{
    background-color: #007bff;
    color: #fff;    
}

.menu:hover{
    background-color: #007bff;
    color: #fff;
}


.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container{
   background:  #449fff;
   height: 250px;
   width: 250px;
   margin: 30px;
   border-radius: 5px;
   padding: 15px;
   transition: 1s;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
}

.container:hover{
    background:  #0a7ffc;
    transition: 1s;
}

.title h5{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: #fff;
}

.text p{
    font-size: 20px;
}

.atendimento{
    padding: 50px;
}

.imagem p{
    font-size: 40px;
    color: #003976;
}


/* footer */
.footer{
    background-color: #e8e8e8;
    display: flex;
    justify-content: space-around;
}

.container-contato{
    height: 350px;
    width: 600px;
    padding: 20px;
    color:  #003976;
}

.logo{
    text-align: center;
}


.text1{
    padding: 30px;
    font-size: 22px;
    margin-top: 30px;
}

.titulo{
    text-align: center;
}

.numeros{
    padding: 20px;
}

.email{
    padding: 20px;
}

.endereco{padding: 20px;}



/* modal */
button{
    padding: 0.6rem 1.2rem;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 0.9;
    font-size: 1rem;
    transition: 0.4s;
}

#fade,
 #modal{
    transition: .8s;
    opacity: 1;
    pointer-events: all;

}

button:hover{
    opacity: 1;
}
#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #fff;
    z-index: 10;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

#fade.hide,
#modal.hide{
    opacity: 0;
    pointer-events: none;
}

#modal.hide{
    top: 0;
}

#fundo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}
#modelo{
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #fff;
    z-index: 10;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;
}


#fundo.hide,
#modelo.hide{
    opacity: 0;
    pointer-events: none;
}

.input input{
    height: 30px;
    margin: 10px;
    width: 400px;
    border-top: none;
    border-left: none;
    border-right: none;
    
}
#botao-enviar{
    background-color: #007bff;
}
.nav h3{
    cursor: pointer;
    font-size: 20px;
}

.input p{
    color: #ff3b25;
    margin-top: -10px;
    margin-left: 7px;
    visibility: hidden;
}
/*erros*/
.input.erro input{
    border-color: #ff3b25;
}
/*ir aparecer a msg de erro*/
.input.erro p{
    color: #ff3b25;
    visibility: visible;
}